<!-- <div class="flash-holder">
  <flash-notice [notice]="flash"></flash-notice>
</div> -->
<div class="navigate">
  <span class="item1">
      <p>Users</p>
    <!-- <i class="material-icons">arrow_back</i> -->
  </span>
  <span class="item2">
    <select name="" id="">
      <option value="" disabled>Sort by</option>
      <option value="user">User</option>
      <option value="admin">Admin</option>
    </select>
  </span>
</div>

<table>
    <thead>
      <tr>
          <th>Display Name</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>Privilege</th>
          <th></th>
      </tr>
    </thead>
    <p *ngIf="sessionExpireMsg">{{sessionExpireMsg}}</p>
    <tbody>
      <tr *ngFor="let user of users$">
        <td>{{user.displayName}}</td>
        <td>{{user.email}}</td>
        <td>{{user.phoneNumber}}</td>
        <td *ngIf="user.customClaims"><i id="setBtn" (click)="getForm(user)" class="material-icons">launch</i> {{user.customClaims.privilege}} </td>

        <td (click)="deleteUser(user)">delete<i id="setBtn" class="material-icons">delete</i></td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="accessForm" class="set-privilege">
    <div class="input-wrapper">
        <i (click)="closeForm()" class="material-icons">clear</i>
        <div class="selected-user">
          <p>{{selectedUser.displayName}}</p>
        </div>
        <div class="input-field">
            <select #access>
              <option value="" disabled selected>Choose Access Level</option>
              <option value="user">User</option>
              <option value="staff">Staff</option>
              <option value="editor">Editor</option>
              <option value="admin">Admin</option>
            </select>
            <!-- <label>Materialize Select</label> -->
        </div>
        <div class="submit-btn">
          <button class="btn" (click)="setPrivilege(access.value)">Submit</button>
        </div>
    </div>
  </div>

