<p>Applicants</p>
<table>
  <thead>
    <!-- <tr>
        <th>Name</th>
        <th>Item Name</th>
        <th>Item Price</th>
    </tr> -->
  </thead>

  <tbody>
    <tr *ngFor="let applicant of applications$ | async">
      <td>{{applicant.firstName}}</td>
      <td>{{applicant.lastName}}</td>
      <td>{{applicant.email}}</td>
      <td>{{applicant.telephone}}</td>
      <td>{{applicant.siaNumber}}</td>
      <td>{{applicant.uid}}</td>
      <!-- <td>{{applicant.firstName}}</td>
      <td>{{applicant.lastName}}</td>
      <td>{{applicant.id}}</td> -->
    </tr>
    <!-- <tr>
      <td>Alan</td>
      <td>Jellybean</td>
      <td>$3.76</td>
    </tr>
    <tr>
      <td>Jonathan</td>
      <td>Lollipop</td>
      <td>$7.00</td>
    </tr> -->
  </tbody>
</table>