// $primary-color: #507db9;
// $primary-color-light: #70a4eb;
// $primary-color-dark: #355989;
@import "../../../variables";
.carousel{
    height: 645px;
    img{
        height: 600px;
    }
    .carousel-cover{
        position: absolute;
        top: 0;
        left: 0;
        height: 600px;
        width: 100%;
        margin: 0 auto;
        background-color: rgba(112, 164, 235, 0.2);
        z-index: 1000;
        .valign-wrapper-home1{
            position: absolute;
            top: 0;
            left: 50%;
            width: 700px;
            height: 600px;
            margin-left: -350px;
            background-color: rgba(112, 164, 235, 0.5);
            text-align: center;
            -webkit-transform: skew(-30deg);
            -moz-transform: skew(20deg);
              -o-transform: skew(20deg);
        }
        .valign-wrapper-home2{
            position: absolute;
            top: 0;
            left: 50%;
            width: 700px;
            height: 600px;
            margin-left: -350px;
            background-color: rgba(112, 164, 235, 0.5);
            text-align: center;
            -webkit-transform: skew(30deg);
            -moz-transform: skew(20deg);
              -o-transform: skew(20deg);
        }
        .home-text{
            position: absolute;
            top: 0;
            left: 50%;
            width: 700px;
            height: 600px;
            margin-left: -350px;
            text-align: center;
            // background-color: rgba(0,0,0, 0.2);
            h1{
                position: relative;
                top: 50%;
                transform: translateY(-80px);
                font-size: 2.5em;
                color: #ffffff;
                text-align: center;
                font-family: 'Open Sans Bold', sans-serif;
                margin: 0;
                text-transform: uppercase;
                // margin-left: 20px;
                // padding-left: 50px;
                // line-height: 400px;
            }
            p{
                position: relative;
                top: 50%;
                transform: translateY(-80px);
                font-size: 2em;
                font-family: 'Open Sans Bold', sans-serif;
                color: #ffffff;
                text-align: center;
                margin: 0;
                text-transform: uppercase;
            }
            i{
                position: absolute;
                top: 80%;
                font-size: 2rem;
                color: lighten($primary-color, 30%);
                &:hover{
                    cursor: pointer;
                    color: lighten($primary-color, 20%);
                }
                // transform: translateY(-80px); 
            }
        }
    }
}

#about{
    h1{
        text-align: center;
        font-family: 'Open Sans Regular', sans-serif;
        font-size: 1.5em;
        text-transform: uppercase;
    }
}
#our-services{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .service1, .service2, .service3, .service4{
        position: relative;
        width: 250px;
        height: 400px;
        margin: 2px;
        overflow: hidden;
        h1{
            position: absolute;
            bottom: 0;
            margin-bottom: 0px;
            font-size: 1.2em;
            font-family: 'Open Sans Regular', sans-serif;
            text-align: center;
            background-color: darken($primary-color-dark,  10%);
            width: 100%;
            padding: 10px 5px;
            color: lighten($primary-color,  50%);
            &:hover{
                color: lighten($primary-color,  20%);
                cursor: pointer;
            }
        }
        img{
            width: 250px;
            &:hover{
                opacity: 0.4;
                transform: scale(1.2);
                transition: .2s;
                transition-timing-function: ease-in-out;
            }
        }

    }
}
#home-video{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
    text-align: center;
    h1{
        font-family: 'Open Sans Regular', sans-serif;
        font-size: 1.5em;
        text-transform: uppercase;
    }
    .video{
        position: relative;
        margin: 0 auto;
        text-align: center;
        width: 760px;
        height: 415px;
        iframe{
            position: relative;
            top: 0;
            left: 0;
        }
        .video-cover{
            position: absolute;
            top: 0;
            left: 0;
            width: 760px;
            height: 415px;
            background-color: lighten($primary-color-dark,  0%);
            opacity: 0.3;
            margin: 0 auto;
            text-align: center;
            i{
                font-size: 8rem;
                line-height: 415px;
                color: red;
            }
        }
    }

}
#career{
    min-height: 300px;
    background-color: lighten($primary-color,  10%);
    padding: 20px 0px;
    text-align: center;
    h1{
        font-family: 'Open Sans Regular', sans-serif;
        font-size: 1.5em;
        margin: 0px;
        margin-bottom: 10px;
        text-transform: uppercase;
        text-align: center;
        color: darken($primary-color-dark,  20%);
        margin-bottom: 20px;
    }
    h3{
        font-family: 'Open Sans Regular', sans-serif;
        font-size: 1.5em; 
        margin: 0px; 
        color: darken($primary-color-dark,  10%);
    }
    h4{
        font-family: 'Open Sans Light', sans-serif;
        font-size: 2em;
        margin: 0px;
        color: darken($primary-color-dark,  5%);
    }
    p{
        font-family: 'Open Sans Regular', sans-serif;
        font-size: 1.2em;    
    }
    button{
        background-color: darken($primary-color-dark,  0%);
    }
}
#blogs{
    margin-bottom: 50px; 
    h1{
        font-family: 'Open Sans Regular', sans-serif;
        font-size: 1.5em;
        text-align: center;  
    }
    .blog-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .blog-item{
            width: 300px;
            height: 350px;
            text-align: center;
            overflow: hidden;
            background-color: $primary-color;
            .img-holder{
                overflow: hidden;
                width: 300px;
                height: 160px;
                img{    
                    &:hover{
                        opacity: 0.5;
                        // transform: rotateZ(90deg);
                        transform: scale(1.2);
                        transition: .3s;
                    }
                }
            }

            p{
                margin: 0px;
                color: lighten($primary-color-light,  10%);
                margin: 0px;
                font-family: 'Open Sans Regular', sans-serif;
                font-size: 0.9rem;
                padding: 0px 10px;
            }
            h1{
                margin: 0px;
                font-family: 'Open Sans Regular', sans-serif;
                font-size: 1.2em;
                color: lighten($primary-color-light,  40%);
                padding: 0px 10px;
                margin: 5px 0px;
            }
            small{
                text-align: center;
                // font-size: 1em;
                color: lighten($primary-color-light,  20%);
                a{
                    color: lighten($primary-color-light,  30%);
                    i{
                        font-size: 1em;
                    }
                }
            }
        }
    }
    .more-news{
        text-align: center;
    }
    
}