// $primary-color: #507db9;
// $primary-color-light: #70a4eb;
// $primary-color-dark: #355989;
@import "../../../variables";
.carousel{
    height: 645px;
    img{
        height: 500px;
    }
    .carousel-cover{
        position: absolute;
        top: 0;
        left: 0;
        height: 500px;
        width: 100%;
        margin: 0 auto;
        background-color: rgba(112, 164, 235, 0.6);
        z-index: 1000;
        .valign-wrapper-home1{
            position: absolute;
            top: 0;
            left: 50%;
            width: 710px;
            height: 500px;
            margin-left: -350px;
            background-color: rgba(112, 164, 235, 0.5);
            text-align: center;
            -webkit-transform: skew(30deg);
            -moz-transform: skew(20deg);
              -o-transform: skew(20deg);
        }
        .valign-wrapper-home2{
            position: absolute;
            top: 0;
            left: 50%;
            width: 700px;
            height: 500px;
            margin-left: -350px;
            background-color: rgba(53, 89, 137, 0.8);
            text-align: center;
            -webkit-transform: skew(45deg);
            -moz-transform: skew(20deg);
              -o-transform: skew(20deg);
        }
        .home-text{
            position: absolute;
            top: 0;
            left: 50%;
            width: 700px;
            height: 500px;
            margin-left: -350px;
            text-align: center;
            // background-color: rgba(0,0,0, 0.2);
            h1{
                position: relative;
                top: 50%;
                transform: translateY(-80px);
                font-size: 2.8rem;
                color: #ffffff;
                text-align: center;
                font-family: 'Open Sans Bold', sans-serif;
                margin: 0;
                text-transform: uppercase;
                // margin-left: 20px;
                // padding-left: 50px;
                // line-height: 400px;
            }
            p{
                position: relative;
                top: 50%;
                transform: translateY(-80px);
                font-size: 2.8rem;
                font-family: 'Open Sans Bold', sans-serif;
                color: #ffffff;
                text-align: center;
                margin: 0;
                text-transform: uppercase;
            }
            i{
                position: absolute;
                top: 80%;
                font-size: 2rem;
                color: lighten($primary-color, 30%);
                &:hover{
                    cursor: pointer;
                    color: lighten($primary-color, 20%);
                }
                // transform: translateY(-80px); 
            }
        }
    }
}

#about{
    margin-top: 50px;
    h1{
        text-align: center;
        font-family: 'Open Sans Bold', sans-serif;
        font-size: 1.5em;
        text-transform: uppercase;
    }
}
#our-services{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .service1, .service2, .service3, .service4{
        position: relative;
        width: 250px;
        height: 400px;
        margin: 2px;
        overflow: hidden;
        h1{
            position: absolute;
            bottom: 0;
            margin-bottom: 0px;
            font-size: 1.2em;
            font-family: 'Open Sans Regular', sans-serif;
            text-align: center;
            background-color: darken($primary-color-dark,  10%);
            width: 100%;
            padding: 10px 5px;
            color: lighten($primary-color,  50%);
            &:hover{
                color: lighten($primary-color,  20%);
                cursor: pointer;
            }
        }
        img{
            width: 250px;
            &:hover{
                opacity: 0.4;
                transform: scale(1.2);
                transition: .2s;
                transition-timing-function: ease-in-out;
            }
        }

    }
}
#home-video{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 60px;
    text-align: center;
    margin-top: 60px;
    h1{
        font-family: 'Open Sans Bold', sans-serif;
        font-size: 1.5em;
        text-transform: uppercase;
    }
    .video{
        position: relative;
        margin: 0 auto;
        text-align: center;
        width: 860px;
        height: 515px;
        iframe{
            position: relative;
            top: 0;
            left: 0;
        }
        .video-cover{
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 860px;
            height: 515px;
            background-color: lighten($primary-color-dark,  0%);
            opacity: 0.3;
            margin: 0 auto;
            text-align: center;
            i{
                font-size: 8rem;
                line-height: 515px;
                color: red;
            }
        }
    }

}
#career{
    min-height: 300px;
    background-color: darken(#eaeaea,  0%);
    padding: 20px 0px;
    text-align: center;
    margin-top: 60px;
    h1{
        font-family: 'Open Sans Bold', sans-serif;
        font-size: 1.5em;
        margin: 0px;
        margin-top: 20px;
        text-transform: uppercase;
        text-align: center;
        color: darken($primary-color-dark,  50%);
        margin-bottom: 30px;
    }
    h3{
        font-family: 'Open Sans Regular', sans-serif;
        font-size: 1.5rem;
        margin: 0px;
        color: darken($primary-color-dark,  50%);
    }
    h4{
        font-family: 'Open Sans Regular', sans-serif;
        font-size: 1.2rem;
        margin: 5px;
        color: darken($primary-color-dark,  50%);
    }
    p{
        font-family: 'Open Sans Regular', sans-serif;
        font-size: 1.2rem; 
        color: darken($primary-color-dark,  40%);   
    }
    button{
        background-color: darken($primary-color-dark,  0%);
    }
}