<div class="password-email-container">
    <div class="password container">
      <div *ngIf="!tokenExpirationMsg" class="email-form">
        <h1>Reset Password</h1>
       <p>Please fill in your new password.</p>
        <small [style.color]="'red'" *ngIf="msg">{{msg}}</small>
        <form>
          <div class="input-field">
            <input #pass1 type="password" id="password" >
            <label for="password">New Password</label>
          </div>
          <div class="input-field">
              <input #pass2 type="password" id="password" >
              <label for="password">Repeat Password</label>
            </div>
          <div class="submit-btn">
            <button class="btn waves-effect waves-light" (click)="sendNewPassword((pass1.value), (pass2.value))" >Update Password</button>
          </div>
        </form>
      </div>
      <div *ngIf="tokenExpirationMsg" class="email-form">
          <h1> <i [style.color]="'red'" class="material-icons">do_not_disturb</i> Bad Token.</h1>
          <p>Password reset token has expired!</p>
      </div>
    </div>
  </div>