.password-email-container{
    min-height: 500px;
    .password{
        margin: 0 auto;
        .email-form{
            margin: 0 auto;
            width: 400px;
            height: 300px;
            h1, p{margin: 0px; padding: 0px;}
            h1{
                font-size: 1.5rem;
                font-family: 'Dosis', sans-serif;
                font-weight: 400;
                margin: 20px 0px;

            }
        }
    }
}