@import "../../../variables";
.login-container{
    margin: 0px;
    padding: 0px;
    .login-wrapper{
        padding-top: 40px;
        padding-bottom: 40px;
        .login-form{
            margin: 0 auto;
            width: 450px;
            min-height: 500px;
            .heading{
                height: 40px;
                background-color: $primary-color-dark;
                h1{
                    font-size: 1.5rem;
                    margin: 0px;
                    margin-bottom: 20px;
                    color: #ffffff;
                    line-height: 40px;
                    text-align: center;
                }
            }
            .federal-login{
                // width: 100%;
                margin: 0px 20px;
                button{width: 100%; margin: 5px 0px;}
            }
            .form{
                margin-top: 40px;
                padding: 20px;
                .submit-button{
                    margin-bottom: 10px;
                }
            }
        }
    }
}