<app-navigation></app-navigation>
<div class="carousel carousel-slider center" data-indicators="true">
    <!-- <div class="carousel-fixed-item center">
      <a class="btn waves-effect white grey-text darken-text-2">button</a>
    </div> -->
    <div class="carousel-item red white-text" href="#one!">
      <img src="assets/images/pexels-photo-313032.jpeg" alt="">
      <!-- <h2>First Panel</h2>
      <p class="white-text">This is your first panel</p> -->
    </div>
    <div class="carousel-item amber white-text" href="#two!">
      <img src="assets/images/pexels-photo-206796.jpeg" alt="">
      <!-- <h2>Second Panel</h2>
      <p class="white-text">This is your second panel</p> -->
    </div>
    <div class="carousel-item green white-text" href="#three!">
        <img src="assets/images/pexels-photo-568237.jpeg" alt="">
      <!-- <h2>Third Panel</h2>
      <p class="white-text">This is your third panel</p> -->
    </div>
    <!-- <div class="carousel-item blue white-text" href="#four!">
      <h2>Fourth Panel</h2>
      <p class="white-text">This is your fourth panel</p>
    </div> -->
    <div class="carousel-cover">
      <div class="valign-wrapper-home1"></div>
      <div class="valign-wrapper-home2"></div>
      <div class="home-text">
          <h1 class="center-align">Keeping Our</h1>
          <p>Community Safe</p>
          <i id="home-arrow" (click)="slideUp()" class="material-icons">arrow_downward</i>
      </div>
    </div>
</div>
<div class="container">
    <div id="about">
        <h1>We Are Soulars</h1>
        <p>
            Soular's mission is to keep the country safe. For more than a century we have worked to protect our people from danger whether it be from terrorism or damaging espionage by hostile states.
        </p>
    </div>
    <div id="our-services">
      <div class="service1 red">
        <img (click)="routeNavigation('about')" src="assets/images/westminster.jpg" alt="">
        <h1>Who we are</h1>
      </div>
      <div class="service2 amber">
        <img (click)="routeNavigation('services')" src="assets/images/pexels-photo-303159.jpeg" alt="">
        <h1>What we do</h1>
      </div>
      <div class="service3 green">
        <img (click)="routeNavigation('services')" src="assets/images/pexels-photo-226746.jpeg" alt="">
        <h1>How we do it</h1>
      </div>
      <div class="service3 blue">
        <img (click)="routeNavigation('services')" src="assets/images/pexels-photo-327540.jpeg" alt="">
        <h1>What you can do</h1>
      </div>
    </div>
    <div id="home-video">
      <h1>Video</h1>
      <div class="video">
          <iframe width="860" height="515" src="https://www.youtube-nocookie.com/embed/X0oz1RhcN9I" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
          <div class="video-cover">
            <i class="material-icons">play_arrow</i>
          </div>
      </div>
     
    </div>
</div>

<div id="career">
    <div class="container content">
      <h1>Career</h1>
      <h3>Soular Limited is a successful and growing security company</h3>
      <h4>Serving Public and Private Sectors</h4>
      <p>We always have vacancies for enthusiastic, talented and loyal people to fill roles within our team.</p>
      <button (click)="routeNavigation('career')" class="btn waves-effects">apply for job</button>
    </div>
</div>
<app-news-base></app-news-base>
<app-footer></app-footer>
