@import "../../../variables";
.active{
    background-color: black !important; 
}
.top-navigation{
    height: 80px;
    .top-nav-wrapper{
        display: flex;
        justify-content: space-between;
        .brands{
            // flex: 2
            a{
                font-size: 2.5em;
                line-height: 80px;
                text-transform: uppercase;
                font-family: 'Open Sans Bold', sans-serif;
                color: darken($primary-color-dark, 0%);
            }
        }
        .center-nav{
            // flex: 3;
            text-align: right;
            float: right;
            .notice{
                p{
                    width: 400px;
                    text-align: right;
                    font-size: 0.7rem;
                    color: lighten($primary-color, 10%);
                    margin-top: 5px;
                }
            }
        }
        .right-nav-content{
            // flex: 1;
            display: flex;
            span{
                margin-left: 5px;
            }
            a{
                color: $primary-color-dark;
            }
        }

    }
}
nav{
    height: 50px;
    background-color: darken($primary-color-dark, 10%) !important;
    .nav-wrapper{
        height: 50px; 
        .right, .list-item{
            height: 50px;
            line-height: 50px;
            a{
                font-family: 'Open Sans Regular', sans-serif;
                font-weight: 200;
                text-transform: uppercase;
                color: #ffffff;
            }
        }
    }
}
.dropdown-content{
    background-color: lighten($primary-color-dark, 0%);
    .divider{
        background-color: lighten($primary-color-dark, 10%) !important;
    }
}
.dropdown-content li a{
    color: lighten($primary-color, 20%) !important;
    &:hover{
        color: lighten($primary-color, 40%) !important;
        background-color: lighten($primary-color-dark, 20%)
    }

}