<div class="top-navigation">
  <div class="container">
    <div class="top-nav-wrapper">
      <div class="brands">
          <a href="/">Soular</a>
        </div>
        <div class="center-nav">
          <div class="notice">
              <p>
                  To report an imminent threat call 999 or ring the Anti-Terrorist Hotline on 0800 789 321
                  Current UK threat level: SEVERE Read more about threat levels >>
              </p>
          </div>
        </div>
        <div class="right-nav-content">
   
              <!-- <li><a (click)="goToDashboard()">Dashboard</a></li> -->
              <!-- <span>|</span> -->
              <span *ngIf="currentUser"><a (click)="goToDashboard()">Dashboard</a></span>
              <span *ngIf="currentUser">|</span>
              <span *ngIf="currentUser"><a (click)="signOut()">LogOut</a></span>
              <!-- <li *ngIf="currentUser"><p class="dropdown-button" data-activates="account">Account<i class="material-icons right">arrow_drop_down</i></p></li> -->
              <span *ngIf="!currentUser"><a (click)="goToLoginForm()">Login</a></span>
    
  

        </div>  
    </div>
  </div>
</div>

<nav>
  <div class="container">
  <div class="nav-wrapper">
    <!-- <a href="#!" class="brand-logo">Soular</a> -->
    <ul class="right hide-on-med-and-down">
      <li class="list-item"><a href="/about" routerLinkActive="active">Who We Are</a></li>
      <li class="list-item"><a href="/services" routerLinkActive="active">What We Do</a></li>
      <!-- <li class="list-item"><a class="dropdown-button" data-activates="services" href="/services">What We Do <i class="material-icons right">arrow_drop_down</i></a></li> -->
      <li class="list-item"><a href="/career" routerLinkActive="active">Career</a></li>
      <li class="list-item"><a href="/contact" routerLinkActive="active">Contact</a></li>
      <li class="list-item"><a href="/news" routerLinkActive="active">News</a></li>
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-button"  data-activates="dropdown1">What You Can Do<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
  </div>
</nav>

<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>
<!-- Dropdow for Services -->
<ul id="services" class="dropdown-content">
    <li><a href="#!">public sector security</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider"></li>
    <li><a href="#!">three</a></li>
  </ul>
<!-- Login links -->
<ul id="account" class="dropdown-content">
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
    <li><a (click)="goToDashboard()">Dashboard</a></li>
    <li class="divider"></li>
    <li><a (click)="signOut()">LogOut</a></li>
  </ul>
