<div class="top-navigation">
  <div class="container">
    <div class="top-nav-wrapper">
      <div class="brands">
          <a href="/">Soular</a>
        </div>
        <div class="center-nav">
          <div class="notice">
              <p>
                  To report an imminent threat call 999 or ring the Anti-Terrorist Hotline on 0800 789 321
                  Current UK threat level: SEVERE Read more about threat levels >>
              </p>
          </div>
        </div>
        <div class="right-nav-content">
            <span><a>Join</a></span>
            <span>|</span>
            <span><a>Login</a></span>
        </div>  
    </div>
  </div>
</div>

<nav>
  <div class="container">
  <div class="nav-wrapper">
    <!-- <a href="#!" class="brand-logo">Soular</a> -->
    <ul class="right hide-on-med-and-down">
      <li class="list-item"><a href="#about">Who We Are</a></li>
      <li class="list-item"><a class="dropdown-button" data-activates="services" href="badges.html">What We Do <i class="material-icons right">arrow_drop_down</i></a></li>
      <li class="list-item"><a href="#about">Career</a></li>
      <li class="list-item"><a href="#about">Contact</a></li>
      <li class="list-item"><a href="#about">News</a></li>
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1">What You Can Do<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
  </div>
</nav>

<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>
<!-- Dropdow for Services -->
<ul id="services" class="dropdown-content">
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider"></li>
    <li><a href="#!">three</a></li>
  </ul>

